body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 650px;
    margin: 0 auto;
}

.highlight {
    background-color: salmon;
}

header {
    color: white;
    background-color: mediumblue;
}

header > h2 {
    font-size: 1em;
    margin-top: .2em;
}

header > h1 {
    margin-bottom: 0;
}